<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Restaurant</title>
</head>
<body>
    <h1>Add New Restaurant</h1>
    <form th:action="@{'/restaurants/new' + '?username=' + ${username}}" method="post">
        <label>Name:</label>
        <input type="text" name="name">
        <label>Description:</label>
        <textarea name="description"></textarea>
        <button type="submit">Submit</button>
    </form>
    <a th:href="@{'/restaurants' + '?username=' + ${username}}">Back to Restaurant</a>
</body>
</html>
